* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  background-image: url(/img/tv.jpg);
  background-color: hsla(220, 4%, 14%, 0.705);
  background-size: contain;
  background-blend-mode: exclusion;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.main::after {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

body {
  background-color: #f5ecec;
  font-size: 15px;
  font-family: "Verdana", Tahoma;
  font-weight: 100;
  color: #fff;
}
section {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 50px ;
}
.topbar {
  border: 0px solid #fff5f634;
  border-radius: 25px;
  width: 64%;
  height: 100px;
  margin: 0 auto;
  background-color: #97979734;

}
.topbar .logo {
  width: 20%;
  float: left;
  margin: 3px;
}
.topbar h1 {
  width: 80%;
  text-align: center;
  padding-top: 5px;
}
.gotv {
  border: 0px solid #fff5f634;
  border-radius: 25px;
  margin: 0 auto;
  padding: 10px;
  height: 100px;
  width: 750px;
  background-color: #97979734;
}
.body {
  height: 290px;
  margin-top: 5px;
}
.scan {
  padding: 10px;
}
.channel-frequency {
  padding: 0px 150px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  font-weight: 100;
}
.channel-frequency span {
  padding-right: 90px;
}
.services {
  margin-bottom: 30px;
  padding: 5px;
  padding-bottom: 15px;
  display: block;
  font-weight: 100;
}
.bar {
  padding: 0px 20px;
  margin: 1px 20px;
}
#myProgress {
  width: 100%;
  background-color: #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid #0000;
  border-radius: 5px;
}
#myBar {
  width: 9%;
  height: 25px;
  background-color: #fff;
  border: none;
  border: 1px solid #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  border-radius: 5px;
}
.before-footer {
  padding: 10px 100px;
  margin-top: 25px;
}
.before-footer .items {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: auto 120px;
  padding-top: 10px;
  font-weight: 100;
}
.before-footer .items .value {
  padding-left: 58px;
  font-weight: 100;
}
.footer {
  width: 750px;
  height: 70px;
  margin-top: 5px;
  display: inline-block;
  text-align: end;
}

button {
  border: 2px solid #fff5f634;
  background-color: #008000;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-left: 7px;
  padding: 10px 13px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  transition: 100ms;
}
button:hover {
  border: 2px solid #fff;
}
.footer a {
  margin-right: 40px;
  color: #ff3a3a;
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
}
