* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #576ca8;
  font-size: 15px;
  font-family: "Verdana", Tahoma;
  font-weight: 100;
  color: #fff;
}
section {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 50px;
}
.topbar {
  border: 2px solid #fff;
  border-radius: 25px;
  width: 64%;
  height: 100px;
  margin: 0 auto;
}
.topbar .logo {
  width: 20%;
  float: left;
  margin: 3px;
}
.topbar h1 {
  width: 80%;
  text-align: center;
  padding-top: 5px;
}
.gotv {
  border: 2px solid #fff;
  border-radius: 25px;
  margin: 0 auto;
  padding: 10px;
  height: 100px;
  width: 750px;
}
.body {
  height: 290px;
  margin-top: 5px;
}
.scan {
  padding: 10px;
}
.channel-frequency {
  padding: 0px 150px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  font-weight: 100;
}
.channel-frequency span {
  padding-right: 90px;
}
.services {
  padding-right: 180px;
  font-weight: 100;
}
.progess-bar {
  width: 100%;
  padding: 2px;
  display: block;
}
progress {
  width: 85%;
  padding: 8px 0px;
  background-color: black;
  border-radius: 25px;
}
.before-footer {
  padding: 10px 100px;
  margin-top: 25px;
}
.before-footer .items {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: auto 50px;
  padding: 5px;
  font-weight: 100;
}
.before-footer .items .value {
  padding-right: 20px;
  font-weight: 100;
}
.footer {
  width: 750px;
  height: 70px;
  margin-top: 5px;
  display: inline-block;
  text-align: end;
}

button {
  border: 2px solid #fff;
  background-color: #2c42c07c;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-left: 7px;
  padding: 10px 13px;
  cursor: pointer;
  font-weight: 400;
  color: white;
  transition: 100ms;
}
button:hover {
  border: 2px solid #fff;
}
.footer a {
  margin-right: 40px;
  color: #860101;
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
}
